@tailwind base;
@tailwind components;
@tailwind utilities;

.home-card:nth-of-type(2) .img-link {
  grid-column-start: 2;
}

.home-card:nth-of-type(2) .info {
  grid-column-start: 1;
  grid-row-start: 1;
}
